**/Intermediate/*
**/Saved/*
**/DerivedDataCache/*
Team4Project/Saved/Logs/Team4Project.log
/Team4Project/Intermediate
/Team4Project/Saved
/Team4Project/Saved
/Team4Project/Intermediate
/Team4Project/Saved
/Team4Project/Intermediate
